@import "./reset";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "./variables/global";
@import "./theme/dark";
@import "./theme/light";

.app {
  font: var(--font-m);
  background: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh;
}

.content-page {
  display: flex;
}

.wrapper-page {
  flex-grow: 1;
  padding: 20px;
}
