.Text {
  color: var(--primary-color);
}

.Text h2 {
  color: var(--primary-color);
}

.Text p {
  font: var(--font-m);
  color: var(--secondary-color);
}

.error {
  h2 {
    color: var(--red-light);
  }

  p {
    color: var(--red-dark);
  }
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.size_m {
  h2 {
    font: var(--font-l);
  }

  p {
    font: var(--font-m);
  }
}

.size_l {
  h2 {
    font: var(--font-xl);
  }

  p {
    font: var(--font-l);
  }
}
