.ListBox {
  position: relative;
  border: 1px solid var(--primary-color);
}

.trigger {
  cursor: pointer;
  color: var(--primary-color);
  margin: 0;
  padding: 7px 15px;
  border: 0;

  &:hover {
    opacity: 0.8;
    fill-opacity: 0.8;
    stroke-opacity: 0.8;
  }
}

.options {
  background: var(--listbox-bg);
  position: absolute;
  z-index: 10000;
  border-radius: 5px;
  padding: 10px;
  min-width: 100%;
}

.item {
  & + .item {
    margin-top: 5px;
  }
}

.active {
  color: var(--inverted-primary-color);
}

.disabled {
  opacity: 0.7;
}

.selected {
  color: var(--inverted-primary-color);
}

.optionsTop {
  bottom: 100%;
}
