.app.dark {
  --bg-color: #1b1b1c;
  --inverted-bg-color: #F1F5F8;
  --primary-color: #fff;
  --inverted-primary-color: #006cc1;
  --secondary-color: #12918c;
  --inverted-secondary-color: #5bb7ff;
  --inverted-secondary-color: #5bb7ff;
}