.app.dark {
  --bg-color: #1b1b1c;
  --inverted-bg-color: #f1f5f8;
  --primary-color: #fff;
  --inverted-primary-color: #006cc1;
  --secondary-color: #12918c;
  --inverted-secondary-color: #5bb7ff;
}
