.Applink {
  color: var(--primary-color);
}

.primary,
.primary:visited {
  color: var(--primary-color);
}

.secondary,
.secondary:visited {
  color: var(--inverted-primary-color);
}

.red,
.red:visited {
  color: red;
}
